{% extends "layout.html" %}

{% block content_header %}
  {{ build_breadcrumb('Cdr', '', 'newspaper-o', ['List']) }}
{% endblock %}

{% block content %}
  <section class="content">
    {% call build_list_containers('Cdr', 'newspaper-o', size='12') %}
      {% call build_list_table(list=url_for('.CdrView:list_json')) %}
        {% call build_list_table_headers(checkbox=False) %}
          <th>Date</th>
          <th>Source</th>
          <th>Source name</th>
          <th>Destination</th>
          <th>Destination name</th>
          <th>Duration</th>
          <th>Answered</th>
        {% endcall %}
        {% call(cdr) build_list_table_rows(resource_list['items'], checkbox=False) %}
          <td>{{ cdr.start }}</td>
          <td>{{ cdr.source_extension }}</td>
          <td>{{ cdr.source_name }}</td>
          <td>{{ cdr.destination_extension }}</td>
          <td>{{ cdr.destination_name }}</td>
          <td>{{ cdr.duration }}</td>
          <td>{{ cdr.answered }}</td>
        {% endcall %}
      {% endcall %}
    {% endcall %}
  </section>
{% endblock %}

{% block additional_js %}
  <script src="{{ url_for('.static', filename='js/cdr.js') }}"></script>
{% endblock %}
